
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterResult</title>
</head>
<body>
    <div> 
        @TempData["RegisterState"]
    </div>
</body>
</html>
